# Imports

In [1]:
# Import numpy, pandas, matpltlib.pyplot
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px 
import seaborn as sns
%matplotlib inline
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 200)
plt.style.use('ggplot')

# Data cleaning

In [2]:
# Import the data
df = pd.read_csv('../NY_crimes/NYPD_Complaint_Data_Historic.csv')

C:\Users\jawha\AppData\Local\Temp\ipykernel_25480\2721276330.py:2: DtypeWarning: Columns (18,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../NY_crimes/NYPD_Complaint_Data_Historic.csv')

In [3]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6983207 entries, 0 to 6983206
Data columns (total 35 columns):
 #   Column             Dtype
---  ------             -----
 0   CMPLNT_NUM         int64
 1   CMPLNT_FR_DT       object
 2   CMPLNT_FR_TM       object
 3   CMPLNT_TO_DT       object
 4   CMPLNT_TO_TM       object
 5   ADDR_PCT_CD        float64
 6   RPT_DT             object
 7   KY_CD              int64
 8   OFNS_DESC          object
 9   PD_CD              float64
 10  PD_DESC            object
 11  CRM_ATPT_CPTD_CD   object
 12  LAW_CAT_CD         object
 13  BORO_NM            object
 14  LOC_OF_OCCUR_DESC  object
 15  PREM_TYP_DESC      object
 16  JURIS_DESC         object
 17  JURISDICTION_CODE  float64
 18  PARKS_NM           object
 19  HADEVELOPT         object
 20  HOUSING_PSA        object
 21  X_COORD_CD         float64
 22  Y_COORD_CD         float64
 23  SUSP_AGE_GROUP     object
 24  SUSP_RACE          object
 25  SUSP_SEX           object
 26  TRANSIT_DISTRICT   float64
 27  Latitude           float64
 28  Longitude          float64
 29  Lat_Lon            object
 30  PATROL_BORO        object
 31  STATION_NAME       object
 32  VIC_AGE_GROUP      object
 33  VIC_RACE           object
 34  VIC_SEX            object
dtypes: float64(8), int64(2), object(25)
memory usage: 1.8+ GB

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,PD_DESC,CRM_ATPT_CPTD_CD,LAW_CAT_CD,BORO_NM,LOC_OF_OCCUR_DESC,PREM_TYP_DESC,JURIS_DESC,JURISDICTION_CODE,PARKS_NM,HADEVELOPT,HOUSING_PSA,X_COORD_CD,Y_COORD_CD,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,724718389,09/04/2014,17:25:00,09/04/2014,17:35:00,81.0,09/04/2014,344,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,COMPLETED,MISDEMEANOR,BROOKLYN,OPPOSITE OF,STREET,N.Y. POLICE DEPT,0.0,NaN,NaN,NaN,1005945.0,188862.0,NaN,NaN,NaN,NaN,40.685041,-73.921777,"(40.685040958, -73.921776995)",PATROL BORO BKLYN NORTH,NaN,25-44,WHITE,F
1,191133903,10/12/2016,07:40:00,10/12/2016,07:45:00,121.0,10/12/2016,109,GRAND LARCENY,417.0,"LARCENY,GRAND FROM PERSON,PURS",COMPLETED,FELONY,STATEN ISLAND,NaN,STREET,N.Y. POLICE DEPT,0.0,NaN,NaN,NaN,947034.0,171375.0,UNKNOWN,BLACK,U,NaN,40.636991,-74.134093,"(40.63699139, -74.134092508)",PATROL BORO STATEN ISLAND,NaN,45-64,WHITE HISPANIC,F
2,720151206,09/28/2012,13:30:00,09/28/2012,14:00:00,41.0,10/19/2012,109,GRAND LARCENY,413.0,"LARCENY,GRAND BY FALSE PROMISE",COMPLETED,FELONY,BRONX,FRONT OF,STREET,N.Y. POLICE DEPT,0.0,NaN,NaN,NaN,1014179.0,239453.0,NaN,WHITE HISPANIC,M,NaN,40.823876,-73.891863,"(40.823876276, -73.891862968)",PATROL BORO BRONX,NaN,45-64,WHITE HISPANIC,F
3,232242098,03/24/2015,15:45:00,NaN,NaN,46.0,03/24/2015,341,PETIT LARCENY,339.0,"LARCENY,PETIT FROM OPEN AREAS,",COMPLETED,MISDEMEANOR,BRONX,FRONT OF,STREET,N.Y. POLICE DEPT,0.0,NaN,NaN,NaN,1009041.0,247401.0,NaN,BLACK,M,NaN,40.845707,-73.910398,"(40.845707148, -73.910398033)",PATROL BORO BRONX,NaN,<18,WHITE HISPANIC,F
4,708078702,05/20/2017,04:02:00,05/20/2017,04:09:00,109.0,05/20/2017,344,ASSAULT 3 & RELATED OFFENSES,101.0,ASSAULT 3,COMPLETED,MISDEMEANOR,QUEENS,FRONT OF,STREET,N.Y. POLICE DEPT,0.0,NaN,NaN,NaN,1031779.0,217663.0,25-44,WHITE HISPANIC,M,NaN,40.763992,-73.828426,"(40.763991557, -73.828425559)",PATROL BORO QUEENS NORTH,NaN,25-44,BLACK,M

In [4]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
CMPLNT_NUM,6983207.0,5.500768e+08,2.597838e+08,1.000001e+08,3.252107e+08,5.500624e+08,7.750561e+08,9.999999e+08
ADDR_PCT_CD,6981041.0,6.327224e+01,3.451961e+01,-9.900000e+01,4.000000e+01,6.300000e+01,9.400000e+01,1.230000e+02
KY_CD,6983207.0,2.957909e+02,1.499370e+02,1.010000e+02,1.170000e+02,3.410000e+02,3.510000e+02,8.810000e+02
PD_CD,6977342.0,4.148457e+02,2.180586e+02,1.000000e+02,2.540000e+02,3.860000e+02,6.370000e+02,9.750000e+02
JURISDICTION_CODE,6977342.0,7.304343e-01,6.752324e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,9.700000e+01
X_COORD_CD,6959143.0,1.004796e+06,2.174732e+04,1.110000e+02,9.916830e+05,1.004370e+06,1.016586e+06,1.067298e+06
Y_COORD_CD,6959143.0,2.070544e+05,3.153994e+04,1.110000e+02,1.843520e+05,2.059660e+05,2.351580e+05,7.250292e+06
TRANSIT_DISTRICT,157084.0,1.359840e+01,1.247143e+01,1.000000e+00,3.000000e+00,1.100000e+01,3.000000e+01,3.400000e+01
Latitude,6959143.0,4.073495e+01,8.647664e-02,4.011271e+01,4.067261e+01,4.073196e+01,4.081212e+01,5.965727e+01
Longitude,6959143.0,-7.392583e+01,7.842862e-02,-7.751921e+01,-7.397323e+01,-7.392733e+01,-7.388325e+01,-7.368479e+01

In [5]:
# Remove unnecessary columns
df.drop(columns=['RPT_DT', 'PD_CD', 'PD_DESC', 'KY_CD', 'JURISDICTION_CODE', 'JURIS_DESC', 'LOC_OF_OCCUR_DESC'], inplace=True)

In [6]:
# Ratio of NaN values to total values for each column
for column in df.columns:
    nan_count = df[column].isna().sum()
    total_count = len(df[column])
    ratio = nan_count / total_count if total_count != 0 else 0  # Avoid division by zero
    print(f'{column}: {nan_count}/{total_count} NaN ratio: {ratio:.2%}')

CMPLNT_NUM: 0/6983207 NaN ratio: 0.00%
CMPLNT_FR_DT: 655/6983207 NaN ratio: 0.01%
CMPLNT_FR_TM: 48/6983207 NaN ratio: 0.00%
CMPLNT_TO_DT: 1668376/6983207 NaN ratio: 23.89%
CMPLNT_TO_TM: 1663829/6983207 NaN ratio: 23.83%
ADDR_PCT_CD: 2166/6983207 NaN ratio: 0.03%
OFNS_DESC: 18825/6983207 NaN ratio: 0.27%
CRM_ATPT_CPTD_CD: 7/6983207 NaN ratio: 0.00%
LAW_CAT_CD: 0/6983207 NaN ratio: 0.00%
BORO_NM: 10894/6983207 NaN ratio: 0.16%
PREM_TYP_DESC: 39732/6983207 NaN ratio: 0.57%
PARKS_NM: 6958159/6983207 NaN ratio: 99.64%
HADEVELOPT: 6637179/6983207 NaN ratio: 95.04%
HOUSING_PSA: 6446298/6983207 NaN ratio: 92.31%
X_COORD_CD: 24064/6983207 NaN ratio: 0.34%
Y_COORD_CD: 24064/6983207 NaN ratio: 0.34%
SUSP_AGE_GROUP: 4707573/6983207 NaN ratio: 67.41%
SUSP_RACE: 3339032/6983207 NaN ratio: 47.82%
SUSP_SEX: 3472346/6983207 NaN ratio: 49.72%
TRANSIT_DISTRICT: 6826123/6983207 NaN ratio: 97.75%
Latitude: 24064/6983207 NaN ratio: 0.34%
Longitude: 24064/6983207 NaN ratio: 0.34%
Lat_Lon: 24064/6983207 NaN ratio: 0.34%
PATROL_BORO: 6322/6983207 NaN ratio: 0.09%
STATION_NAME: 6826123/6983207 NaN ratio: 97.75%
VIC_AGE_GROUP: 1638444/6983207 NaN ratio: 23.46%
VIC_RACE: 308/6983207 NaN ratio: 0.00%
VIC_SEX: 307/6983207 NaN ratio: 0.00%

In [7]:
# Remove columns with significant NaN values and redundant information
df.drop(columns=['TRANSIT_DISTRICT', 'HOUSING_PSA'], inplace=True)

In [8]:
# Converting notnull to 1 and isna to 0 for specific columns
df['IN_PARK'] = df['PARKS_NM'].notnull().astype(int)
df['IN_PUBLIC_HOUSING'] = df['HADEVELOPT'].notnull().astype(int)
df['IN_STATION'] = df['STATION_NAME'].notnull().astype(int)

# Renaming columns
df = df.rename({'PARKS_NM': 'IN_PARK', 'HADEVELOPT': 'IN_PUBLIC_HOUSING', 'STATION_NAME': 'IN_STATION'}, axis=1)

In [9]:
# Dropping unnecessary coordinate columns
df.drop(columns=['Y_COORD_CD', 'Lat_Lon', 'X_COORD_CD'], inplace=True)

In [10]:
# Dropping rows without coordinates
df = df[df['Latitude'].notnull()]
df = df[df['Longitude'].notnull()]

In [12]:
# Check if two columns have matching NaN values
if all(df['CMPLNT_FR_DT'].notnull() == df['CMPLNT_TO_DT'].notnull()):
    df.drop(columns='CMPLNT_TO_DT', inplace=True)

In [13]:
# Convert date columns to YYYY-MM-DD format
df['CMPLNT_FR_DT'] = pd.to_datetime(df['CMPLNT_FR_DT'], errors='coerce').dt.strftime('%Y-%m-%d')
df['CMPLNT_FR_TM'] = pd.to_datetime(df['CMPLNT_FR_TM'], errors='coerce').dt.strftime('%Y-%m-%d')

C:\Users\jawha\AppData\Local\Temp\ipykernel_25480\2290145936.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['CMPLNT_FR_TM'] = pd.to_datetime(df['CMPLNT_FR_TM'], errors='coerce').dt.strftime('%Y-%m-%d')

In [14]:
# Delete rows without event start date or time
df = df[df['CMPLNT_FR_DT'].notnull() & df['CMPLNT_FR_TM'].notnull()]

In [15]:
# Removing columns with redundant information
df.drop(columns=['CMPLNT_TO_TM', 'CMPLNT_TO_DT'], inplace=True)

In [16]:
# Splitting date to year, month, day, and hour columns
df['year'] = pd.to_datetime(df['CMPLNT_FR_DT']).dt.year
df['month'] = pd.to_datetime(df['CMPLNT_FR_DT']).dt.month
df['day'] = pd.to_datetime(df['CMPLNT_FR_DT']).dt.day
df['hour'] = pd.to_datetime(df['CMPLNT_FR_TM']).dt.hour

# Adding a weekday column
df['weekday'] = pd.to_datetime(df['CMPLNT_FR_DT']).dt.day_name()

# Dropping original date and time columns
df.drop(columns=['CMPLNT_FR_DT', 'CMPLNT_FR_TM'], inplace=True)

In [17]:
df.head()

,CMPLNT_NUM,ADDR_PCT_CD,OFNS_DESC,CRM_ATPT_CPTD_CD,LAW_CAT_CD,BORO_NM,PREM_TYP_DESC,IN_PARK,IN_PUBLIC_HOUSING,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,Latitude,Longitude,PATROL_BORO,IN_STATION,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,IN_PARK,IN_PUBLIC_HOUSING,IN_STATION,year,month,day,hour,weekday
0,724718389,81.0,ASSAULT 3 & RELATED OFFENSES,COMPLETED,MISDEMEANOR,BROOKLYN,STREET,NaN,NaN,NaN,NaN,NaN,40.685041,-73.921777,PATROL BORO BKLYN NORTH,NaN,25-44,WHITE,F,0,0,0,2014,9,4,0,Thursday
1,191133903,121.0,GRAND LARCENY,COMPLETED,FELONY,STATEN ISLAND,STREET,NaN,NaN,UNKNOWN,BLACK,U,40.636991,-74.134093,PATROL BORO STATEN ISLAND,NaN,45-64,WHITE HISPANIC,F,0,0,0,2016,10,12,0,Wednesday
2,720151206,41.0,GRAND LARCENY,COMPLETED,FELONY,BRONX,STREET,NaN,NaN,NaN,WHITE HISPANIC,M,40.823876,-73.891863,PATROL BORO BRONX,NaN,45-64,WHITE HISPANIC,F,0,0,0,2012,9,28,0,Friday
3,232242098,46.0,PETIT LARCENY,COMPLETED,MISDEMEANOR,BRONX,STREET,NaN,NaN,NaN,BLACK,M,40.845707,-73.910398,PATROL BORO BRONX,NaN,<18,WHITE HISPANIC,F,0,0,0,2015,3,24,0,Tuesday
4,708078702,109.0,ASSAULT 3 & RELATED OFFENSES,COMPLETED,MISDEMEANOR,QUEENS,STREET,NaN,NaN,25-44,WHITE HISPANIC,M,40.763992,-73.828426,PATROL BORO QUEENS NORTH,NaN,25-44,BLACK,M,0,0,0,2017,5,20,0,Saturday

In [18]:
# Cleaning suspect and victim data by filling missing values
df['SUSP_RACE'].fillna('UNKNOWN', inplace=True)
df['VIC_RACE'].fillna('UNKNOWN', inplace=True)

df['SUSP_SEX'].fillna('U', inplace=True)
df['VIC_SEX'].fillna('U', inplace=True)

In [19]:
valid_age = ['UNKNOWN', '25-44', '<18', '45-64', '65+', '18-24']

# Handling invalid age data
df.loc[~df['SUSP_AGE_GROUP'].isin(valid_age), 'SUSP_AGE_GROUP'] = 'UNKNOWN'
df.loc[~df['VIC_AGE_GROUP'].isin(valid_age), 'VIC_AGE_GROUP'] = 'UNKNOWN'

In [20]:
# Removing redundant data and filling missing values
df.drop(columns='PATROL_BORO', inplace=True)
df['BORO_NM'].fillna('UNKNOWN', inplace=True)

In [21]:
df.head()

,CMPLNT_NUM,ADDR_PCT_CD,OFNS_DESC,CRM_ATPT_CPTD_CD,LAW_CAT_CD,BORO_NM,PREM_TYP_DESC,IN_PARK,IN_PUBLIC_HOUSING,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,Latitude,Longitude,IN_STATION,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,IN_PARK,IN_PUBLIC_HOUSING,IN_STATION,year,month,day,hour,weekday
0,724718389,81.0,ASSAULT 3 & RELATED OFFENSES,COMPLETED,MISDEMEANOR,BROOKLYN,STREET,NaN,NaN,UNKNOWN,UNKNOWN,U,40.685041,-73.921777,NaN,25-44,WHITE,F,0,0,0,2014,9,4,0,Thursday
1,191133903,121.0,GRAND LARCENY,COMPLETED,FELONY,STATEN ISLAND,STREET,NaN,NaN,UNKNOWN,BLACK,U,40.636991,-74.134093,NaN,45-64,WHITE HISPANIC,F,0,0,0,2016,10,12,0,Wednesday
2,720151206,41.0,GRAND LARCENY,COMPLETED,FELONY,BRONX,STREET,NaN,NaN,UNKNOWN,WHITE HISPANIC,M,40.823876,-73.891863,NaN,45-64,WHITE HISPANIC,F,0,0,0,2012,9,28,0,Friday
3,232242098,46.0,PETIT LARCENY,COMPLETED,MISDEMEANOR,BRONX,STREET,NaN,NaN,UNKNOWN,BLACK,M,40.845707,-73.910398,NaN,<18,WHITE HISPANIC,F,0,0,0,2015,3,24,0,Tuesday
4,708078702,109.0,ASSAULT 3 & RELATED OFFENSES,COMPLETED,MISDEMEANOR,QUEENS,STREET,NaN,NaN,25-44,WHITE HISPANIC,M,40.763992,-73.828426,NaN,25-44,BLACK,M,0,0,0,2017,5,20,0,Saturday

In [22]:
# Checking the remaining row count
len(df)

6958307

In [23]:
# Encoding crime severity levels
df['LAW_CAT_CD'] = df['LAW_CAT_CD'].replace(['felony', 'misdemeanor', 'violation'], [2, 1, 0])

In [24]:
# Displaying column names in the DataFrame
df.columns

Index(['CMPLNT_NUM', 'ADDR_PCT_CD', 'OFNS_DESC', 'CRM_ATPT_CPTD_CD',
       'LAW_CAT_CD', 'BORO_NM', 'PREM_TYP_DESC', 'IN_PARK',
       'IN_PUBLIC_HOUSING', 'SUSP_AGE_GROUP', 'SUSP_RACE', 'SUSP_SEX',
       'Latitude', 'Longitude', 'IN_STATION', 'VIC_AGE_GROUP', 'VIC_RACE',
       'VIC_SEX', 'IN_PARK', 'IN_PUBLIC_HOUSING', 'IN_STATION', 'year',
       'month', 'day', 'hour', 'weekday'],
      dtype='object')

In [26]:
# Renaming column 'LAW_CAT_CD' to 'CRIME_CLASS'
df = df.rename({'LAW_CAT_CD': 'CRIME_CLASS'}, axis=1)

In [27]:
# Counting occurrences of different crime classes
df['CRIME_CLASS'].value_counts()

CRIME_CLASS
MISDEMEANOR    3925730
FELONY         2140495
VIOLATION       892082
Name: count, dtype: int64

In [30]:
# Dropping duplicate columns if present
df = df.loc[:,~df.columns.duplicated()]

# Reordering columns in the DataFrame
column_titles = ['CMPLNT_NUM','year','month', 'day','weekday','hour','Latitude', 'Longitude', 'CRM_ATPT_CPTD_CD',
                 'OFNS_DESC', 'ADDR_PCT_CD', 'CRIME_CLASS', 'BORO_NM', 'PREM_TYP_DESC',
                 'IN_PARK', 'IN_PUBLIC_HOUSING', 'IN_STATION',
                 'SUSP_AGE_GROUP', 'SUSP_RACE', 'SUSP_SEX',
                 'VIC_AGE_GROUP', 'VIC_RACE', 'VIC_SEX']

df = df.reindex(columns=column_titles)

In [31]:
df.head()

,CMPLNT_NUM,year,month,day,weekday,hour,Latitude,Longitude,CRM_ATPT_CPTD_CD,OFNS_DESC,ADDR_PCT_CD,CRIME_CLASS,BORO_NM,PREM_TYP_DESC,IN_PARK,IN_PUBLIC_HOUSING,IN_STATION,SUSP_AGE_GROUP,SUSP_RACE,SUSP_SEX,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,724718389,2014,9,4,Thursday,0,40.685041,-73.921777,COMPLETED,ASSAULT 3 & RELATED OFFENSES,81.0,MISDEMEANOR,BROOKLYN,STREET,NaN,NaN,NaN,UNKNOWN,UNKNOWN,U,25-44,WHITE,F
1,191133903,2016,10,12,Wednesday,0,40.636991,-74.134093,COMPLETED,GRAND LARCENY,121.0,FELONY,STATEN ISLAND,STREET,NaN,NaN,NaN,UNKNOWN,BLACK,U,45-64,WHITE HISPANIC,F
2,720151206,2012,9,28,Friday,0,40.823876,-73.891863,COMPLETED,GRAND LARCENY,41.0,FELONY,BRONX,STREET,NaN,NaN,NaN,UNKNOWN,WHITE HISPANIC,M,45-64,WHITE HISPANIC,F
3,232242098,2015,3,24,Tuesday,0,40.845707,-73.910398,COMPLETED,PETIT LARCENY,46.0,MISDEMEANOR,BRONX,STREET,NaN,NaN,NaN,UNKNOWN,BLACK,M,<18,WHITE HISPANIC,F
4,708078702,2017,5,20,Saturday,0,40.763992,-73.828426,COMPLETED,ASSAULT 3 & RELATED OFFENSES,109.0,MISDEMEANOR,QUEENS,STREET,NaN,NaN,NaN,25-44,WHITE HISPANIC,M,25-44,BLACK,M

In [33]:
# Filtering data for years greater than 2005
df = df[df['year'] > 2005]

# Creating separate DataFrames for 2019 and the training data (excluding 2019)
df_2019 = df[df['year'] == 2019]
df_train = df[df['year'] != 2019]

In [34]:
# Save processed data to CSV files
df.to_csv('ny_processed_all.csv', index=False)
df_train.to_csv('ny_processed.csv', index=False)
df_2019.to_csv('ny_processed_2019.csv', index=False)